
 /*  Header  */
 img.custom-logo {
  position: absolute;
  left: 1%;
}

div.ast-main-header-bar-alignment {
  position: absolute;
  right: 0%;
}

.main-header-menu .menu-item:nth-child(2) {
  background-color: #DC9F96!important;
  height: 72px;
  left: 4px;
}

.main-header-menu .menu-item:nth-child(2) .menu-link {
  color: white!important
}

#ast-hf-menu-1 li:nth-child(2) {
  order: 2;
}

.menu-link {
  margin-left: 20px;
  margin-right: 52px;
  
 
}

/* Footer */

.site-footer {
  font-size: 16px;
  text-align: center;
  background-color: #FFFFFF;
  border: 5px solid white;
  
}


h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

/* Page Nous rencontrer */

.paddingTop {
  padding-top: 80px;
}

p.has-text-align-center {
  max-width: 680px;
}



.contact-formulaire

/*formulaire de contact */



 .contact-label {
  font-size: 2rem;
  color: black;
}

.contact-items {
  height: 7.1rem;
  border-radius: 7px;
  background-color: #ffffff!important;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.04);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
}

.contact-message{
  height: 23.7rem;
  border-radius: 7px;
  background-color: #ffffff!important;
  box-shadow: 0px 4px 14px  rgba(0,0,0,0.04);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  z-index: 1;
  display: flex!important;
  
 
}

.contact-submit {
  background-color: #DC9F96!important;
  width: 8.8rem;
  height: 3rem;
  margin-left: 120px;
  color: white!important;
  display: flex!important;
  margin-left: auto;
  margin-right: auto;
}

.contact-submit:hover{
  background-color: #e0b9b4!important;
}



.block-contactForm{
  max-width: 38.3rem;
}
 .wpcf7-form-control-wrap {
  z-index: 2;
}

/*image fleur haut de page nous rencontrer  */
.wp-image-140  {

  bottom: 15rem;
  left: -5rem;
  position: relative;
  z-index: 1;
  background-color: #ece2da!important;
  display: block;
}


/* FLEUR gauche de nous rencontrer */

.wp-image-294 {
  bottom: -6rem;
  left: -33rem;
  position: relative;
 
}

/* feuille  de l'equipe*/
.wp-image-329 { 
  bottom: 12rem;
  left:  28rem;
  position: relative;
}

/* image canette */

.wp-block-uagb-container {
  display: block;
}

/* mis en forme Page Commander */




.uacf7-form-415 {
  background-color: #3b8e46;
}

/* formulaire de commande */



/* Page commander */
.section-order_title{ /* titre */
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
  align-items: center;
}



.uacf7-row{ /* partie du formulaire avec les informations de livraison  */
 display: flex!important;
  margin-left: 20px;
  margin-right: 50px;
  
  
  
}
.section-order-vertical-line{
  background-color: #FFFFFF!important;
  width: 1px;
  height: 90%;
  margin-top: 1rem;
  margin-left: 11rem;
  margin-right: 2rem;
  
}
.qt-article{
  max-width: 5rem;
  margin: auto;
  margin-top: 0.5rem;
  appearance: none;
}
.block-taste-line{
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 5rem;
}
.block-info{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  font-size: 25px;
  color: #FFFFFF;
}
.order-submit{
  margin: auto;
  display: flex;
  color: white!important;
  background-color: #DC9F96!important;
  margin-left: 569px;

}

.entry-content h5{
  color:#FFFFFF;
  font-size: 30px;
  
}


/* Media Queries Smartphone */


@media screen and (min-width:350px) and (max-width:600px) {

.img.custom-logo {
  width: 35%;
}

  
  div.ast-mobile-header-content.content-align-flex-start, .site-footer  {
    font-size: 13px;
 }
 
 h1, .entry-content h1, h2.has-text-align-center.h2.has-text-color {
    font-size: 21px;
 }

 p {
    font-size: 16px;
 }


  .menu-link {
    margin-left: 210px;
    margin-right: 50px;
   }

   .img.custom-logo {
    position: absolute;
    left: 10%;
    bottom: 130px;
   }
    

    /* feuille formulaire de contact*/


    
    .div-class .wp-block-uagb-container {
      display: block!important;
      flex-direction: column;
      color: #FFFFFF;
      margin-top: 2rem;
     }

   .wp-block-image-329 {
    left: 0rem;
    bottom: 0rem;
    width: 20%;
   }


   .wp-image-294 {
    bottom: -51px;
    left: -9px;
    position: relative;
   }
   /* formulaire de commmande */

  

   .wpcf7-form-control-wrap {
    padding: 8px;
   }
    
   .uacf7-row{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 50px;
   }

   .order-submit {
    margin: auto;
    display: block;
    color: #FFFFFF!important;
    background-color: #DC9F96!important;
   }

   .block-info {
    padding-left: 8rem;
    padding-right: 2rem;
    font-size: 25px;
    color: #FFFFFF;
    margin: auto;
    
   }

   @media screen and (min-width:601px) and (max-width:800px) {
   
    /* Mise en forme Générale */
    img.custom-logo {
       width: 90%;
    }
    
    div.ast-mobile-header-content.content-align-flex-start, .site-footer  {
       font-size: 15px;
    }
 
    h1, .entry-content h1 {
       font-size: 30px;
    }
    
    h2.has-text-align-center.h2.has-text-color {
       font-size: 26px;
    }
 
    p {
       font-size: 18px;
    }
    .uacf7-row{ /* partie du formulaire avec les informations de livraison  */
     display: block;
     flex-direction: column;
      margin-left: 20px;
      margin-right: 50px;
      

    }
    .block-info {
      margin-top: 5rem;
      margin-bottom: 5rem;
      padding-right: 4rem;
      font-size: 15px;
      color: #FFFFFF;
    }
    .section-order-vertical-line {
      background-color: #FFFFFF;
      width: 1px;
      height: 90%;
      margin-top: 1rem!important;
      margin-left: 3rem!important;
      margin-right: 2rem!important;
    }


   .order-submit {
    margin: auto;
    display: flex;
    color: #FFFFFF;
    background-color: #DC9F96!important;
    margin-left: 220px;
   }
  }

  

/* *** responsive page commander *** */
/* breakpoint tablet: 1025px */
@media screen and (max-width:1025px){
  .block-taste{
      flex-wrap: wrap;
      row-gap: 4rem;
      column-gap: 11rem;
      justify-content: center !important;
      margin-top: 1.5rem;
  }
  .block-order-info{
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 32rem;
  }
  .section-order-vertical-line{  /* ligne de séparation verticale block info  */
      height: 0.1rem !important;
      border-top: #FFFFFF solid 0.5px;
      width: 44vw;
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
}
/* breakpoint mobile: 782px  */
@media screen and (max-width:720px){
  .section-order_title{
      margin: auto;
      font-size: 2rem !important;
  }
  .block-order-title{
      font-size: 2.3rem;
  }
  .client-info, .client-delivery{
      width: 100% !important;
  }
  .order-info_label, .block-info{
      width: 100%;
  }
  .order-info_label> span{
      width: 100%;
  }
}
/*  fin responsive page commander */
      /*  ***page commander *** */
.order-form{ /* partie haute du formulaire: votre commande */
  display: flex;
  flex-direction: column;
}
.block-order-title{  /* titre page */
  padding-bottom: 6.9rem;
  padding-top: 6.9rem;
}
.section-order_title{ /* titre */
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.block-taste{  /* block des 4 saveurs */
  display: flex;
  justify-content: space-between;
}
.splitter-line{ /* ligne horizontale de séparation sous le block saveur */
  border-bottom: solid 1px #FFFFFF;
  padding-bottom: 5rem;
}
.block-taste-col-3{  /* card saveur */
  max-width: 19.3rem;
}
.img-taste{ /* image saveur */
  width: 100%;
  object-fit: contain;
}
.block-taste-col-3 span{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.qt-article{  /* champ de quantité */
  max-width: 3.9rem;
  height: 5.6rem;
  margin: auto;
  border: none;
  border-radius: 1px !important;
  appearance: textfield;
}
.block-order-info{ /* partie informations de livraison */
  display: flex;
}
.block-info{ /*  block informations client x2*/
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.order-info_label{  /*  label */
  display: flex !important;
  flex-direction: column;
  color: #FFFFFF;
  margin-top: 2rem;
}
.order-info_label> span{
  margin-top: 1.3rem;
}
.client-info, .client-delivery{  /* input */
  width: 38.3rem;
  height: 7.1rem;
}
.section-order-vertical-line{  /* ligne de séparation verticale block info  */
  background-color: #FFFFFF;
  border-right: #FFFFFF solid 0.5px;
  height: 44.7rem;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.order-submit{ /* bouton commander */
  margin: auto;
  display: block;
}
}





 



