/*
Theme Name: OceanWP Child Theme
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress theme. Sample child theme.
Author: OceanWP
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

#wpcf7-f415-p10-o1{
    min-width: 100%;
}







.container {
    width: 100%;
    max-width: 100%;
}

.e-con {
    padding: 0;
}

#wrap {
    min-height: initial !important;
}

.elementor-146 .elementor-element.elementor-element-8963326 .menu-item a.hfe-menu-item.elementor-button {
    width: 236px;
    display: flex;
    justify-content: center;
}

.border {
    width: 100%;
    height: 60px;
    background-color: #e3d9d0;
    border-radius: 0 0 150% 150%;
}

.border-again {
    width: 100%;
    height: 50px;
    background-color: #ECE2DA;
    border-radius: 0 0 150% 150%;
}

.border2 {
    width: 100%;
    height: 40px;
    background-color: #ECE2DA;
    border-radius: 0 0 100% 100%;
    margin-bottom: 20px;
}

.wp-container-core-columns-layout-2.wp-container-core-columns-layout-2 , .wp-container-core-columns-layout-1.wp-container-core-columns-layout-1 {
    display: flex !important;
    justify-content: center !important;
}

h2, p { 
    margin: 0;
}
.wp-block-uagb-container.uagb-block-bdf974fc {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

p.has-background {
    padding: 0 !important;
}

.uagb-buttons__outer-wrap.uagb-btn__medium-btn .uagb-buttons-repeater {
    padding: 16px 50px;
}

body .is-layout-flex {
    display: flex;
    justify-content: center;
}

#footer-widgets {
    padding: 0;
}

.wp-block-uagb-container.uagb-block-07ac2439 .wp-block-uagb-image {
    position: absolute;
    bottom: -1px;
    right: 5%;
}

.form-contact {
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
}

form input[type=text], form input[type=email] {
    background: #FFF;
    height: 71px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

form textarea {
    background: #FFF;
    max-height: 237px;
    width: 100%;
    border-radius: 7px;
    resize: none;
    position: relative;
    z-index: 2;
}

.wp-block-uagb-container.uagb-block-a97c52ff,.wp-block-uagb-container.uagb-block-2080c066 {
    padding: 0;
}

input[type="submit"] {
    background-color: #E0B9B4 !important;
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
    text-transform: none;
}

input[type="submit"]:hover {
    background-color: #C02E44 !important;
}

.wp-block-separator.is-style-wide {
    max-width: none !important;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form input[type=number] {
    background-color: #FFF;
}

form input[type=number] {
    max-width: 39px !important;
    padding: 0 0 0 8px;
    height: 56px;
    margin-bottom: 0;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

@media only screen and (max-width: 1092px) {
    .row {
        flex-wrap: wrap; 
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: 3;
    width: 100%;
}

.column h2 {
    color: #FFF;
    font-weight: 700;
    margin-bottom: 20px;
}

.column label {
    color: #FFF;
    font-weight: 400;
}

.separator {
    border: solid 1px white;
}

@media only screen and (max-width: 768px) {
    .separator {
        width: 100%;
        margin: 10%;
    }
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-contact img {
    position: absolute;
    left: 33%;
    bottom: 11%;
    z-index: 1;
}